.main_container {
    margin-top: 1rem;
    display: flex;
    gap: 5rem;
}

.container {
    padding: 1rem;
}

.container_header {
    font-size: 3rem;
}

.container_header_content {
    padding-top: 1rem;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.container_subheader {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container_subheader_content {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

iframe{
    width: 100%;
    border:none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
