<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vee-Kay UI | Main Page</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <!-- Header Starts -->
    <div class="header">
        <div class="header_name">
            <h3> Vee-Kay UI </h3>
        </div>
        <div class="header_subcontents">
            <a href="/Components/Getting Started/main.html">Documentation </a>
        </div>
    </div>
    <!-- Header Ends -->

    <!-- Sidebar Starts -->
    <div class="main_container">
        <aside class="sidebar_container">
            <ul class="sidebar_menu">
                <a href="/Getting Started/main.html">Getting Started</a>
                <li class="sidebar_menu_list"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="sidebar_menu_list"><a href="../Alerts/alerts.html">Alert</a></li>
                <li class="sidebar_menu_list"><a href="../Badge/badge.html">Badge</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Badge/badge.html">Badge on icons</a></li>
                    <li class="sidebar_submenu_list"><a href="../Badge/badge.html">Badge on Avators</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Button/button.html">Button</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Button/button.html">Primary</a></li>
                    <li class="sidebar_submenu_list"><a href="../Button/button.html">Link</a></li>
                    <li class="sidebar_submenu_list"><a href="../Button/button.html">Icon Button</a></li>
                    <li class="sidebar_submenu_list"><a href="../Button/button.html">Floating Action Button</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Card/card.html">Card</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with badges</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with dismiss</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with text overlay</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Text only cards</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Vertical/Horizontal cards</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with shadow</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Images/Images.html">Image</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Images/Images.html">Responsive Images</a></li>
                    <li class="sidebar_submenu_list"><a href="../Images/Images.html">Round Image</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Input/input.html">Input</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Input/input.html">Textbox</a></li>
                    <li class="sidebar_submenu_list"><a href="../Input/input.html">With validation and error styles</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Text/text.html">Text Utilities</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Heading</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Samll Text</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Gray Text</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Center Text</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../List/list.html">List</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../List/list.html">Spaced</a></li>
                    <li class="sidebar_submenu_list"><a href="../List/list.html">Stacked</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="#">Navigation</a></li>
                <li class="sidebar_menu_list"><a href="#">Modal</a></li>
                <li class="sidebar_menu_list"><a href="#">Rating</a></li>
                <li class="sidebar_menu_list"><a href="#">Toast</a></li>
                <li class="sidebar_menu_list"><a href="#">Simplified Grid</a></li>
            </ul>
        </aside>
        <!-- Sidebar Ends -->
        <div class="container">
            <h1 class="container_header">Getting Started</h1>
            <p class="container_header_content">Vee-Kay Ui is a CSS component Library which helps to design and build projects with the help of pre-defined styles, components and class-names.</p>
        </div>
    </div>
</body>

</html>