.image_responsive{
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
}

.image_wrapper{
    max-width: 100%;
    height: auto;
}

.image_round{
    border: 1px solid;
    border-radius: 4px;
}

.image_round_avatar{
    border-radius: 50%;
    height:400px;
    width: 400px;
}