<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vee-Ka UI | Alert</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="/CSS/pagestyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="button.css">
</head>

<body>
    <!-- Header Starts -->
    <div class="header">
        <div class="header_name">
            <h3> Vee-Kay UI </h3>
        </div>
        <div class="header_subcontents">
            <a href="/Components/Getting Started/main.html">Documentation </a>
        </div>
    </div>
    <!-- Header Ends -->

    <!-- Sidebar Starts -->
    <div class="main_container">
        <aside class="sidebar_container">
            <ul class="sidebar_menu">
                <a href="../Getting Started/main.html">Getting Started</a>
                <li class="sidebar_menu_list"><a href="../Avatar/avatar.html">Avatar</a></li>
                <li class="sidebar_menu_list"><a href="../Alerts/alerts.html">Alert</a></li>
                <li class="sidebar_menu_list"><a href="../Badge/badge.html">Badge</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Badge/badge.html">Badge on icons</a></li>
                    <li class="sidebar_submenu_list"><a href="../Badge/badge.html">Badge on Avators</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Button/button.html">Button</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="#">Primary</a></li>
                    <li class="sidebar_submenu_list"><a href="#">Link</a></li>
                    <li class="sidebar_submenu_list"><a href="#">Icon Button</a></li>
                    <li class="sidebar_submenu_list"><a href="#">Floating Action Button</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Card/card.html">Card</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with badges</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with dismiss</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with text overlay</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Text only cards</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Vertical/Horizontal cards</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with shadow</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Images/Images.html">Image</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Images/Images.html">Responsive Images</a></li>
                    <li class="sidebar_submenu_list"><a href="../Images/Images.html">Round Image</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Images/Images.html">Input</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Images/Images.html">Textbox</a></li>
                    <li class="sidebar_submenu_list"><a href="../Images/Images.html">With validation and error styles</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Text/text.html">Text Utilities</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Heading</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Samll Text</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Gray Text</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Center Text</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../List/list.html">List</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../List/list.html">Spaced</a></li>
                    <li class="sidebar_submenu_list"><a href="../List/list.html">Stacked</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Navigation/navigation.html">Navigation</a></li>
                <li class="sidebar_menu_list"><a href="#">Modal</a></li>
                <li class="sidebar_menu_list"><a href="#">Rating</a></li>
                <li class="sidebar_menu_list"><a href="#">Toast</a></li>
                <li class="sidebar_menu_list"><a href="#">Simplified Grid</a></li>
            </ul>
        </aside>
        <!-- Sidebar Ends -->
        <div class="container">
            <h1 class="container_header">Button</h1>
            <p class="container_header_content">Buttons allows user to take actions and make choices with a single tap.
                Buttons communicate actions that users can take. They are typically placed throughout the website UI.
            </p>
            <hr>
            <h2 class="container_subheader">Primary Button</h2>
            <p class="container_subheader_content">Primary buttons generally controls the actions of the UI.
            </p>

            <div class="btn_container">
                <button class="btn btn-default">DEFAULT</button>
                <button class="btn btn-primary">PRIMARY</button>
                <button class="btn btn-secondary">SECONDARY</button>
                <button class="btn btn-success">SUCCESS</button>
                <button class="btn btn-error">ERROR</button>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=sharp&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-default%2522%253EDEFAULT%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPRIMARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESECONDARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESUCCESS%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-error%2522%253EERROR%253C%252Fbutton%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h2 class="container_subheader">Primary Outline Button</h2>
            <p class="container_subheader_content">Primary outlines buttons are just the other varient of primary
                buttons where class name is btn-default_outline.
            </p>

            <div class="btn_container">
                <button class="btn btn-default_outline">DEFAULT</button>
                <button class="btn btn-primary_outline">PRIMARY</button>
                <button class="btn btn-secondary_outline">SECONDARY</button>
                <button class="btn btn-success_outline">SUCCESS</button>
                <button class="btn btn-error_outline">ERROR</button>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=sharp&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-default_outline%2522%253EDEFAULT%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary_outline%2522%253EPRIMARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary_outline%2522%253ESECONDARY%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-success_outline%2522%253ESUCCESS%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-error_outline%2522%253EERROR%253C%252Fbutton%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h2 class="container_subheader">Link Button</h2>
            <p class="container_subheader_content">Link buttons are the buttons which generally used to navigate to the
                place where you want to.
            </p>

            <div class="btn_container">
                <button class="btn btn-link"> <a href="#">LINK</a></button>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=sharp&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cbutton%2520class%253D%2522btn%2520btn-link%2522%253E%2520%253Ca%2520href%253D%2522%2523%2522%253ELINK%253C%252Fa%253E%253C%252Fbutton%253E"
                style="width: 544px; height: 93px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h2 class="container_subheader">Icon Button</h2>
            <p class="container_subheader_content">Icon buttons are the buttons which generally used to navigate to
                parent button. pass class name btn-icon to implement it.
            </p>

            <div class="btn_container">
                <button class="btn btn-icon"><span class="material-icons-outlined">
                        delete
                    </span>Delete</button>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=sharp&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-icon%2522%253E%250A%2520%2520%2520%253Cspan%2520class%253D%2522material-icons-outlined%2522%253Edelete%253C%252Fspan%253E%250ADelete%253C%252Fbutton%253E"
                style="width: 494px; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h2 class="container_subheader">Float Button</h2>
            <p class="container_subheader_content">Float Buttons are buttons which generally appears at the bottom left
                or right of the UI.
            </p>

            <div class="btn_container">
                <button class="float-btn btn-success"><span class="material-icons-outlined">
                        add
                    </span></button>
                <button class="float-btn btn-error"><span class="material-icons-outlined ">
                        timer
                    </span></button>
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=sharp&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522float-btn%2520btn-success%2522%253E%250A%2509%253Cspan%2520class%253D%2522material-icons-outlined%2522%253Eadd%253C%252Fspan%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522float-btn%2520btn-error%2522%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522material-icons-outlined%2520%2522%253Etime%2520%253C%252Fspan%253E%250A%253C%252Fbutton%253E"
                style="width: 502px; height: 186px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
        </div>
    </div>
</body>

</html>