<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vee-Ka UI | Avatar</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="/CSS/pagestyle.css">
    <link rel="stylesheet" href="avatar.css">
</head>

<body>
    <!-- Header Starts -->
    <div class="header">
        <div class="header_name">
            <h3> Vee-Kay UI </h3>
        </div>
        <div class="header_subcontents">
            <a href="/Getting Started/main.html">Documentation </a>
        </div>
    </div>
    <!-- Header Ends -->

    <!-- Sidebar Starts -->
    <div class="main_container">
        <aside class="sidebar_container">
            <ul class="sidebar_menu">
                <a href="/Getting Started/main.html">Getting Started</a>
                <li class="sidebar_menu_list">Avatar</li>
                <li class="sidebar_menu_list"><a href="../Alerts/alerts.html
                    ">Alert</a></li>
                <li class="sidebar_menu_list"><a href="../Badge/badge.html">Badge</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Badge/badge.html">Badge on icons</a></li>
                    <li class="sidebar_submenu_list"><a href="../Badge/badge.html">Badge on Avators</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Button/button.html">Button</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Button/button.html">Primary</a></li>
                    <li class="sidebar_submenu_list"><a href="../Button/button.html">Link</a></li>
                    <li class="sidebar_submenu_list"><a href="../Button/button.html">Icon Button</a></li>
                    <li class="sidebar_submenu_list"><a href="../Button/button.html">Floating Action Button</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Card/card.html">Card</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with badges</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with dismiss</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with text overlay</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Text only cards</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Vertical/Horizontal cards</a></li>
                    <li class="sidebar_submenu_list"><a href="../Card/card.html">Cards with shadow</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Images/Images.html">Image</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Images/Images.html">Responsive Images</a></li>
                    <li class="sidebar_submenu_list"><a href="../Images/Images.html">Round Image</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Input/input.html">Input</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Input/input.html">Textbox</a></li>
                    <li class="sidebar_submenu_list"><a href="../Input/input.html">With validation and error styles</a>
                    </li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Text/text.html">Text Utilities</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Heading</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Samll Text</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Gray Text</a></li>
                    <li class="sidebar_submenu_list"><a href="../Text/text.html">Center Text</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../List/list.html">List</a></li>
                <ul class="sidebar_submenu">
                    <li class="sidebar_submenu_list"><a href="../List/list.html">Spaced</a></li>
                    <li class="sidebar_submenu_list"><a href="../List/list.html">Stacked</a></li>
                </ul>
                <li class="sidebar_menu_list"><a href="../Navigation/navigation.html">Navigation</a></li>
                <li class="sidebar_menu_list"><a href="../Modal/modal.html">Modal</a></li>
                <li class="sidebar_menu_list"><a href="../Rating/rating.html">Rating</a></li>
                <li class="sidebar_menu_list"><a href="../Snackbar/snackbar.html">Snackbar</a></li>
                <li class="sidebar_menu_list"><a href="../Grid/grid.html">Simplified Grid</a></li>
            </ul>
        </aside>
        <!-- Sidebar Ends -->
        <div class="container">
            <h1 class="container_header">Avatar</h1>
            <p class="container_header_content">The Avatar component is used to represent a user, displays the profile
                picture, initials or fallback icon.</p>
            <hr>
            <h2 class="container_subheader">Rounded Avatar</h2>
            <p class="container_subheader_content">Vee-Kay UI has three rounded shaped avator which includes avator xl,
                avator and avator sm.
                Size of Rounded Avatar is created by passing class="avator_round" with xl, sm.
            </p>
            <div class="avatar_container">
                <img class="avatar_round xl" src="/image/avator_1.jpg" alt="avatar rounded">
                <img class="avatar_round " src="/image/avator_1.jpg" alt="avatar rounded">
                <img class="avatar_round sm" src="/image/avator_1.jpg" alt="avatar rounded">
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=sharp&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar_round%2520xl%2522%2520src%253D%2522%252Fimage%252Favator_1.jpg%2522%2520alt%253D%2522avatar%2520rounded%2522%253E%250A%253Cimg%2520class%253D%2522avatar_round%2520%2522%2520src%253D%2522%252Fimage%252Favator_1.jpg%2522%2520alt%253D%2522avatar%2520rounded%2522%253E%250A%253Cimg%2520class%253D%2522avatar_round%2520sm%2522%2520src%253D%2522%252Fimage%252Favator_1.jpg%2522%2520alt%253D%2522avatar%2520rounded%2522%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h2 class="container_subheader">Square Avatar</h2>
            <p class="container_subheader_content">Vee-Kay UI has three squared shaped avator which includes avator xl,
                avator and avator sm.
                Size of Square Avatar is created by passing class="avator_square" with xl and sm.
            </p>
            <div class="avatar_container">
                <img class="avatar_square xl" src="/image/avator_1.jpg" alt="avatar rounded">
                <img class="avatar_square " src="/image/avator_1.jpg" alt="avatar rounded">
                <img class="avatar_square sm" src="/image/avator_1.jpg" alt="avatar rounded">
            </div>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=sharp&l=css&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar_square%2520xl%2522%2520src%253D%2522%252Fimage%252Favator_1.jpg%2522%2520alt%253D%2522avatar%2520rounded%2522%253E%250A%253Cimg%2520class%253D%2522avatar_square%2520%2522%2520src%253D%2522%252Fimage%252Favator_1.jpg%2522%2520alt%253D%2522avatar%2520rounded%2522%253E%250A%253Cimg%2520class%253D%2522avatar_square%2520sm%2522%2520src%253D%2522%252Fimage%252Favator_1.jpg%2522%2520alt%253D%2522avatar%2520rounded%2522%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
</body>

</html>