.spaced_list{
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
}

.list{
    list-style-type: none;   
}

.normal_list{
    padding: 1rem;
}

.stacked_list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.icon{
    cursor: pointer;
}

