.checked{
    color: rgb(255, 165, 0);
}

.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.rating_header{
    text-align: center;
    font-size: 2rem;
}