:root{
    --badge-border-color: rgb(255, 255, 255);
    --online-color : rgb(0, 128, 0);
    --offline-color : rgb(128, 128, 128) ;
    --dnd-color : rgb(255, 0, 0);
}

.badge_container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;  
}

.avator_badge{
    padding-right: 1rem;
    position: relative;
    z-index: -1;
}
.avatar{
    height: 6em;
    width: 6em;
    border-radius: 50%;
}

.badge{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--badge-border-color);
    top: 5em;
    left: 4.2em; 
    position: absolute;
}
.online{ 
    background-color: var(--online-color);
}
.offline{
    background-color: var(--offline-color);
}

.dnd{
    background-color: var(--dnd-color);
}

.icon_badge{
    position: relative;
    z-index: -1;
}
.icon{
    font-size: 3em;
    margin-right: 1rem;
}

.badge_numbered{
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    color: var(--badge-border-color);
    border-radius: 50%;
    border: 2px solid var(--badge-border-color);
    background-color: var(--dnd-color); 
    position: absolute;
    right: 0.8em;
    bottom:2.1em;
}


 